<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color: rgb(205, 233, 255)" >
<H1 style='margin-left:30%;margin-top: 5%'>课程表</H1>
<table border="1" style='margin-left:30%;margin-top: 5%' >

<tr>
     <td width="80">学号</td>
     <td width="80">用户名</td>
     <td width="80"> 课程序号</td>
    <td width="80">课程名</td>
     <td width="80">课程时间</td>
     <td width="80">课程地点</td>
     <td width="80">授课教师</td>

</tr>
{% for i in course %}
    <tr>
    <td>{{ i.User_Id }}</td>
    <td>{{ i.Student_Name }}</td>
    <td>{{ i.Course_Id }}</td>
    <td>{{ i.Course_Name}}</td>
    <td>{{ i.Course_Time }}</td>
    <td>{{ i.Course_Location}}</td>
    <td>{{ i.Course_Teacher }}</td>
   </tr>
{% endfor %}
</body>
</html>