<!DOCTYPE html>
<html lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body style="background-color: rgb(205, 233, 255)" >
<H1 style='margin-left:30%;margin-top: 5%'>课程表</H1>
<table border="1" style='margin-left:30%;margin-top: 5%'>

<tr>
       <td width="80">学号</td>
     <td width="80">用户名</td>
     <td width="80"> 课程序号</td>
    <td width="80">课程名</td>
     <td width="80">课程时间</td>
     <td width="80">课程地点</td>
     <td width="80">授课教师</td>
    <td></td>
    <td ></td>
</tr>
{% for i in course %}
    <tr>
    <td>{{ i.User_Id }}</td>
    <td>{{ i.Student_Name }}</td>
    <td>{{ i.Course_Id }}</td>
    <td>{{ i.Course_Name}}</td>
    <td>{{ i.Course_Time }}</td>
    <td>{{ i.Course_Location}}</td>
    <td>{{ i.Course_Teacher }}</td>
    <td><a href="{% url 'update' i.User_Id i.Course_Id %}">编辑</a></td>
    <td><a href="{% url 'delete' i.User_Id i.Course_Id %}">删除</a></td>
   </tr>
{% endfor %}
</table>
<script>
function confirm() {

       /* username = document.getElementById("username").value;
        /*userphoto = document.getElementById("userphoto");*/
       /* userphone = document.getElementById("userphone").value ;
        useremail = document.getElementById("useremail").value;*/
       var form = new FormData(document.getElementById("addUser"));

        $.ajax(
            {
                type:"POST",
                processData:false,
                contentType:false,
                async: false,
                url:"/addUser/",
                data:form,
                beforeSend:function () {
                   /* alert(useremail)
                    alert(username)
                    alert(userphone)*/
                },
                success: function (returndata) {
                    if(returndata )
                    {alert(returndata);
                    }
                    else
                    {
                        alert("添加失败了....")
                    }
          },
          error: function (returndata) {
              alert(returndata);
                window.location.href = '#';
          }
     });


    }

     </script>
</body>
</html>